[SETTING]
	RELOAD = 82
	OBSERVE = 67
	LIGHTONOFF = 70
	INTERACT = 69
	AIM = 32
	HOLDBREATH = 162
	RUN = 160
	CHANGEWEAPONUP = 33
	CHANGEWEAPONDOWN = 34
	SIGNALLEFT = 90
	SIGNALRIGHT = 88
	NAVIGATION = 77
	MOUSESPEED = 8
	FULLSCREEN = 0
	LANGUAGE = 1
[END]
